body {
	background-color: linen;
	margin-top: 50px;
	height: 100%;
	font-family: 'Sahitya';
}

p {
	margin-left: 12px;
	font-size: 16px;
}

h2 {
	margin-left: 12px;
}

h3 {
	text-align: center;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.container-fluid {
	overflow: hidden;
}

.col-md-7 {
	background-color: white;
}

.col-md-4 {
	font-size: 16px;
}

.carousel {
	height: 320px;
	margin-top: auto;
	overflow: hidden;
}

.carousel-inner img { 
	margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
	p {
		margin-left: 2px;
	}
	h2 {
		margin-left: 2px;
	}
}
/* Add a background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #7070db;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 2px;
    opacity:0.9;
}

/* color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #fff !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
	background-color: #00e673;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#00e673 !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
	background-color: #00e673;
}

#desc-image {
	margin: auto;
}

#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
}
